<section class="oci-Panel">
  <form ng-submit="updateName()">
    <header class="oci-Panel-header">
      <h1 class="oci-Panel-title">Edit Name</h1>
    </header>
    <div class="oci-Panel-body">
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">First Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.firstName"/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Last Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.lastName"/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Hash Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.alias" placeholder="{{model.suggestedAlias}}"/>
      </label>
    </div>
    <footer class="oci-Panel-footer">
      <button type="submit" class="oci-Button oci-Button--primary">Update Name</button>
    </footer>
  </form>
</section>

<section class="oci-Panel">
  <form ng-submit="updateProfile()">
    <header class="oci-Panel-header">
      <h1 class="oci-Panel-title">Edit Profile</h1>
    </header>
    <div class="oci-Panel-body">
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Location</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.location" placeholder="Local"/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Notes</div>
        <textarea class="oci-FormControl-input" ng-model="model.notes" placeholder="Notes"></textarea>
      </label>
    </div>
    <footer class="oci-Panel-footer">
      <button type="submit" class="oci-Button oci-Button--primary">Update Profile</button>
    </footer>
  </form>
</section>

<section class="oci-Panel">
  <form ng-submit="updateHistory()">
    <header class="oci-Panel-header">
      <h1 class="oci-Panel-title">Edit History</h1>
    </header>
    <div class="oci-Panel-body">
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Recorded number of attendances</div>
        <input class="oci-FormControl-input" type="number" ng-model="model.recordedAttendanceCount" placeholder="0"/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Recorded number of hares</div>
        <input class="oci-FormControl-input" type="number" ng-model="model.recordedHostCount" placeholder="0"/>
      </label>
      <div class="oci-FormControl">
        <label for="recordedLastAttendanceDateInput" class="oci-FormControl-label">Last recorded attendance date</label>
        <div class="util-Grid">
          <input type="text" class="oci-FormControl-input" id="recordedLastAttendanceDateInput"
            ng-model="model.$recordedLastAttendanceDate"
            datepicker-popup="{{datepicker.format}}" is-open="opened"
            datepicker-options="datepicker.options"
            ng-required="true" close-text="Close" />
          <button class="oci-Button oci-Button--default oci-FormControl-button" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <footer class="oci-Panel-footer">
      <button type="submit" class="oci-Button oci-Button--primary">Update History</button>
    </footer>
  </form>
</section>

<section class="oci-Panel oci-Panel--danger">
  <header class="oci-Panel-header">
    <h1 class="oci-Panel-title">Remove Participant</h1>
  </header>
  <div class="oci-Panel-body">
    <p>Removing an participant deletes all associated attendance records.</p>
    <button class="oci-Button oci-Button--danger" ng-click="remove()">Remove Participant</button>
  </div>
</section>
