
@import 'core/_base.less';
@import 'core/_print.less';

@import 'modules/oci/_button.less';
@import 'modules/oci/_input.less';
@import 'modules/oci/_panel.less';
@import 'modules/oci/_panel-list.less';

@import 'modules/print/_print.less';
@import 'modules/print/_table.less';

@import 'modules/util/_grid.less';
@import 'modules/util/_util.less';

.panel {

  .alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 0.5em 1em;
  }
}
