<div ng-repeat="(chapterKey, chapter) in chapters">
  <h1>{{chapter.name}} ({{chapter.shortName}})</h1>
  <div>
    <a class="btn btn-primary" ng-click="addEvent(chapterKey)">New Event</a>
  </div>
  <div>
    <span
      ng-pluralize
      count="(chapter.events | keyCount)"
      when="{
        '0': 'No events',
        'one': '1 event',
        'other': '{} events'}"></span>
    &bull;
    <span
      ng-pluralize
      count="(chapter.participants | keyCount)"
      when="{
        '0': 'No participants',
        'one': '1 participant',
        'other': '{} participants'}"></span>
  </div>
  <div ng-repeat="(eventKey, event) in chapter.events">
    <strong>{{events[eventKey].name}}</strong>
    {{events[eventKey].date}}
    &bull;
    <span
      ng-pluralize
      count="(events[eventKey].participants | keyCount)"
      when="{
        '0': 'No participants',
        'one': '1 participant',
        'other': '{} participants'}"></span>
    &bull;
    <a ng-click="removeEvent(eventKey, chapterKey)" href>Remove event</a>
  </div>

</div>