<a ui-sref="app.chapters">All chapters</a>
<h1>{{chapter.name}} ({{chapter.shortName}})</h1>

<a class="btn btn-default" ng-click="openNewEventModal()">New event</a>

<hr/>

<div>
  <span
    ng-pluralize
    count="(chapter.events | keyCount)"
    when="{
      '0': 'No events',
      'one': '1 event',
      'other': '{} events'}"></span>
  &bull;
  <span
    ng-pluralize
    count="(chapter.participants | keyCount)"
    when="{
      '0': 'No participants',
      'one': '1 participant',
      'other': '{} participants'}"></span>
</div>

<hr/>

<input
  type="text" class="form-control"
  ng-model="selectedParticipant"
  typeahead="participant as participant.alias for participant in (participants | orderByPriority) | filter:{ $: $viewValue } | limitTo:8"
  typeahead-template-url="modules/typeahead/participant.html"
  typeahead-on-select="selectParticipant()"/>

  <hr/>

  <h2>New Participant</h2>
  <form ng-submit="addParticipant(chapter.$id)">
    <div class="form-group form-inline">
      <div class="form-group">
        <label for="participantFirstNameInput">First Name</label>
        <input id="participantFirstNameInput" class="form-control" type="text" ng-model="newParticipant.firstName"/>
      </div>
      <div class="form-group">
        <label for="participantLastNameInput">Last Name</label>
        <input id="participantLastNameInput" class="form-control" type="text" ng-model="newParticipant.lastName"/>
      </div>
    </div>
    <div class="form-group">
      <label for="participantAliasInput">Hash Name</label>
      <input id="participantAliasInput" class="form-control" type="text" ng-model="newParticipant.alias" placeholder="{{newParticipant.suggestedAlias}}"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Participant</button>
  </form>

  <hr/>

  <div ng-repeat="event in chapterEvents | orderByPriority | orderBy:'-date'">
    <strong>{{event.name}}</strong>
    {{event.date | date:'mediumDate'}}
    &bull;
    <span
      ng-pluralize
      count="(event.participants | keyCount)"
      when="{
        '0': 'No participants',
        'one': '1 participant',
        'other': '{} participants'}"></span>
    &bull;
    <a ng-click="removeEvent(event.$id, chapter.$id)" href>Remove event</a>
  </div>

  <hr/>

  <div ng-repeat="participant in chapterParticipants | orderByPriority">
    <strong>{{participant | hashName}}</strong>
    {{participant.firstName}} {{participant.lastName}}
    &bull;
    <span
      ng-pluralize
      count="(participant.events | keyCount)"
      when="{
        '0': 'No events',
        'one': '1 event',
        'other': '{} events'}"></span>
    &bull;
    <a ng-click="removeParticipant(participant.$id, chapter.$id)" href>Remove participant</a>
  </div>
