<a ui-sref="app.chapters">All chapters</a>
<h1>{{chapter.name}}</h1>

<a class="btn btn-default" ng-click="openAddEventModal()">New Event</a>
<a class="btn btn-default" ng-click="openAddParticipantModal()">New Participant</a>

<hr/>

<div>
  <span
    ng-pluralize
    count="(chapter.events | keyCount)"
    when="{
      '0': 'No events',
      'one': '1 event',
      'other': '{} events'}"></span>
  &bull;
  <span
    ng-pluralize
    count="(chapter.participants | keyCount)"
    when="{
      '0': 'No participants',
      'one': '1 participant',
      'other': '{} participants'}"></span>
</div>

  <hr/>

  <div ng-repeat="event in events | orderByPriority | orderBy:'-date'">
    <a ui-sref="app.event.index({ id: event.$id })">
      <strong>{{event.name}}</strong>
    </a>
    {{event.date | date:'mediumDate'}}
    &bull;
    <span
      ng-pluralize
      count="(event.attendances | keyCount)"
      when="{
        '0': 'No participants',
        'one': '1 participant',
        'other': '{} participants'}"></span>
  </div>

  <hr/>

  <div ng-repeat="participant in participants | orderByPriority">
    <a ui-sref="app.participant({ id: participant.$id })">
      <strong>{{participant | hashName}}</strong>
    </a>
    {{participant.firstName}} {{participant.lastName}}
    &bull;
    <span
      ng-pluralize
      count="(participant.attendances | keyCount)"
      when="{
        '0': 'No events',
        'one': '1 event',
        'other': '{} events'}"></span>
  </div>
