<div ng-repeat="chapter in chapters | orderByPriority">

  <h1>{{chapter.name}} ({{chapter.shortName}})</h1>

  <h2>New Event</h2>
  <form ng-submit="addEvent(chapter.$id)">
    <div class="form-group">
      <label for="eventNameInput">Event Name</label>
      <input id="eventNameInput" class="form-control" type="text" ng-model="newEvent.name" placeholder="Event name" required/>
    </div>
    <div class="form-group">
      <label for="eventDateInput">Event Date</label>
      <datepicker id="eventDateInput" ng-model="newEvent.date" show-weeks="false"></datepicker>
    </div>
    <button type="submit" class="btn btn-primary">Add Event</button>
  </form>

  <hr/>

  <h2>New Participant</h2>
  <form ng-submit="addParticipant(chapter.$id)">
    <div class="form-group form-inline">
      <div class="form-group">
        <label for="participantFirstNameInput">First Name</label>
        <input id="participantFirstNameInput" class="form-control" type="text" ng-model="newParticipant.firstName"/>
      </div>
      <div class="form-group">
        <label for="participantLastNameInput">Last Name</label>
        <input id="participantLastNameInput" class="form-control" type="text" ng-model="newParticipant.lastName"/>
      </div>
    </div>
    <div class="form-group">
      <label for="participantAliasNameInput">Hash Name</label>
      <input id="participantAliasNameInput" class="form-control" type="text" ng-model="newParticipant.aliasName" placeholder="{{newParticipant.suggestedAliasName}}"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Participant</button>
  </form>

  <hr/>

  <div>
    <span
      ng-pluralize
      count="(chapter.events | keyCount)"
      when="{
        '0': 'No events',
        'one': '1 event',
        'other': '{} events'}"></span>
    &bull;
    <span
      ng-pluralize
      count="(chapter.participants | keyCount)"
      when="{
        '0': 'No participants',
        'one': '1 participant',
        'other': '{} participants'}"></span>
  </div>

  <hr/>

  <div ng-repeat="event in eventsByChapter[chapter.$id] | orderByPriority | orderBy:'-date'">
    <strong>{{event.name}}</strong>
    {{event.date | date:'mediumDate'}}
    &bull;
    <span
      ng-pluralize
      count="(event.participants | keyCount)"
      when="{
        '0': 'No participants',
        'one': '1 participant',
        'other': '{} participants'}"></span>
    &bull;
    <a ng-click="removeEvent(event.$id, chapter.$id)" href>Remove event</a>
  </div>

</div>