<h1>{{participant | hashName}} ({{participant.firstName}} {{participant.lastName}})</h1>
<div>
  <a ui-sref="app.chapter({ id: participant.chapter })">{{chapter.name}}</a>
</div>

<hr/>

<button class="btn btn-default" ng-click="removeParticipant()">Remove Participant</button>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3
      class="panel-title"
      ng-pluralize
      count="(participant.attendances | keyCount)"
      when="{
        '0': 'No Events',
        'one': '1 Event',
        'other': '{} Events'}"></h3>
  </div>
  <div class="oci-Panel-body">
    <ul class="oci-PanelList">
      <li class="oci-PanelList-item util-Grid util-Grid--center" ng-repeat="attendance in attendances | orderByPriority | orderBy:'-event.date'">
        <span class="util-Margin--right">{{attendance.event.date | date:'mediumDate'}}</span>
        <a class="util-Grid-cell" ui-sref="app.event.index({ id: attendance['.id:event'] })">
          {{attendance.event.name}}
        </a>
        <span class="label label-info" ng-if="attendance.host">HARE</span>
      </li>
    </ul>
  </div>
</div>