<h1>{{participant | hashName}} ({{participant.firstName}} {{participant.lastName}})</h1>
<div>
  <a ui-sref="app.chapter({ id: participant.chapter })">{{chapter.name}}</a>
  &bull;
  <span
    ng-pluralize
    count="(participant.attendances | keyCount)"
    when="{
      '0': 'No events',
      'one': '1 event',
      'other': '{} events'}"></span>
</div>

<hr/>

<button class="btn btn-default" ng-click="removeParticipant()">Remove Participant</button>

<hr/>

<h2>Events</h2>
<ul>
  <li ng-repeat="attendance in attendances | orderByPriority | orderBy:'-event.date'">
    <a ui-sref="app.event.index({ id: attendance['.id:event'] })">
      {{attendance.event.name}}
    </a>
    &bull;
    {{attendance.event.date | date:'mediumDate'}}
    <span ng-if="attendance.host">
      &bull;
      hare
    </span>
  </li>
</ul>
