<header class="print-Header">
  <h1 class="print-Header-title"><a ui-sref="app.event.index({ id: eventId })">{{event.name}}</a></h1>
  <p class="print-Header-details">
    <span class="print-Header-detail">{{event.date | date:'longDate'}}</span>
    <span class="print-Header-detail">
      <a ui-sref="app.chapter.index({ id: event.chapter })">{{chapter.name}}</a>
    </span>
  </p>
</header>

<table class="print-Table">
  <thead>
    <th>Name</th>
    <th>Hash Name</th>
    <th class="text-center util--nowrap">Sign in</th>
    <th class="text-right">
      <span class="util--block">Hashes</span>
      <small class="util--nowrap">after sign in</small>
    </th>
    <th>Last Hash</th>
    <th class="text-right">Hares</th>
  </thead>
  <tbody>
    <tr ng-repeat="participant in participants | filter:{ priority: filterPriority } | orderBy:order">
      <td>{{participant.lastName}}, {{participant.firstName}}</td>
      <td>
        <a ui-sref="app.participant.index({ id: participant.$id })"
          ng-class="{ 'print--highlight': shouldBeNamed(participant)}">{{participant | hashName}}</a>
        <span class="util--nowrap" ng-if="participant.location">({{participant.location}})</span>
      </td>
      <td class="text-center">
        <span ng-class="{ 'print--highlight': participant.priority == 2 }"
          ng-bind-html="signinMark(participant.priority)"></span>
      </td>
      <td class="text-right">
        <span ng-class="{ 'print--highlight': isAnniversary(participant.records.attendanceCount + 1)}">{{participant.records.attendanceCount + 1}}</span>
      </td>
      <td>
        <a class="util--nowrap"
          ng-if="participant.records.date"
          ng-class="{ 'print--highlight': isReturner(event.date, participant.records.date) }"
          ui-sref="app.event.index({ id: participant.records.event })">
          {{participant.records.date}}
        </a>
        <span class="util--nowrap"
          ng-if="!participant.records.date && event.date > participant.recordedLastAttendanceDate"
          ng-class="{ 'print--highlight': isReturner(event.date, participant.recordedLastAttendanceDate) }">
          {{participant.recordedLastAttendanceDate}}
        </span>
      </td>
      <td class="text-right">{{participant.records.hostCount + (participant.attendance.host ? 1 : 0)}}</td>
    </tr>
  </tbody>
</table>
