<header class="oci-Header util-Grid util-Grid--center">
  <div class="util-Grid-cell">
    <a ui-sref="app.chapters" class="oci-Header-title">oncheckin</a>
    <span class="label label-warning" ng-if="!connectionState.isConnected">offline</span>
  </div>
  <nav class="oci-Header-nav">
    <a ui-sref="app.login">Login</a>
    <button class="btn btn-default" ng-click="logout()">Log out</button>
  </nav>
</header>

<main class="oci-Body" ui-view></main>

<footer class="oci-Footer">
  <a href="https://github.com/basham/oncheckin">GitHub</a>
</footer>
