<form class="oci-Panel">
  <div class="oci-Panel-body">
    <div class="oci-FormControl">
      <label for="participantInput" class="oci-FormControl-label">Add Participant</label>
      <input
        id="participantInput" type="text" class="oci-FormControl-input util-Grid-cell"
        ng-model="selected.participant"
        typeahead="participant as participant.alias for participant in (participants | orderByPriority) | filter:filterParticipants($viewValue) | orderBy:order | limitTo:8"
        typeahead-template-url="typeahead/participant.html"
        typeahead-on-select="selectParticipant()"/>
    </div>
  </div>
</form>

<section class="oci-Panel">
  <header class="oci-Panel-header">
    <h1 class="oci-Panel-title">Hares</h1>
  </header>
  <div class="oci-Panel-body">
    <ul class="oci-List">
      <li class="oci-List-item util-Grid util-Grid--center" ng-repeat="attendance in attendances | orderByPriority | filter:{ host: true }">
        <div class="util-Grid-cell">
          <strong class="util--block">{{attendance.participant | hashName}}</strong>
          <span>{{attendance.participant.firstName}} {{attendance.participant.lastName}}</span>
        </div>
        <a href ng-click="setHost(attendance, false)" class="oci-Button oci-Button--default util-Margin--right">Make Participant</a>
        <a href ng-click="removeAttendance(attendance)" class="oci-Button oci-Button--danger" title="Remove Attendance">Remove</a>
      </li>
    </ul>
  </div>
</section>

<section class="oci-Panel">
  <header class="oci-Panel-header">
    <h1 class="oci-Panel-title">Participants</h1>
  </header>
  <div class="oci-Panel-body">
    <ul class="oci-List">
      <li class="oci-List-item util-Grid util-Grid--center" ng-repeat="attendance in attendances | orderByPriority | filter:{ host: false }">
        <div class="util-Grid-cell">
          <strong class="util--block">{{attendance.participant | hashName}}</strong>
          <span>{{attendance.participant.firstName}} {{attendance.participant.lastName}}</span>
        </div>
        <a href ng-click="setHost(attendance, true)" class="oci-Button oci-Button--default util-Margin--right">Make Hare</a>
        <a href ng-click="removeAttendance(attendance)" class="oci-Button oci-Button--danger" title="Remove Attendance">Remove</a>
      </li>
    </ul>
  </div>
</section>
