<div>
  <div class="oci-Datepicker">
    <nav class="oci-Datepicker-nav">
      <button type="button"
        class="oci-Button oci-Button--clear oci-Button--icon"
        ng-click="move(-1)">
        <icon-chevron-left/>
      </button>
      <button type="button"
        class="oci-Button oci-Button--clear oci-Button--block"
        ng-click="toggleMode()">
        <strong>{{title}}</strong>
      </button>
      <button type="button"
        class="oci-Button oci-Button--clear oci-Button--icon"
        ng-click="move(1)">
        <icon-chevron-right class="oci-Button-icon"/>
      </button>
    </nav>
    <table class="oci-Datepicker-table">
      <thead>
        <tr ng-show="labels.length > 0">
          <th ng-repeat="label in labels" class="oci-Datepicker-label">{{label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rows">
          <td ng-repeat="dt in row" class="text-center">
            <button type="button"
              class="oci-Button oci-Button--clear oci-Button--block oci-Datepicker-date"
              ng-class="{'oci-Button--active': dt.selected, 'oci-Datepicker-date--muted': dt.secondary}"
              ng-click="select(dt.date)"
              ng-disabled="dt.disabled">
              <span ng-class="{'text-muted': dt.secondary}">{{dt.label}}</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
