<section class="oci-Panel">
  <form ng-submit="updateEvent()">
    <header class="oci-Panel-header">
      <h1 class="oci-Panel-title">Edit Event</h1>
    </header>
    <div class="oci-Panel-body">
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.name" placeholder="Event name" required/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Date</div>
        <datepicker id="eventDateInput" ng-model="model.date" show-weeks="false"></datepicker>
      </label>
    </div>
    <footer class="oci-Panel-footer">
      <button type="submit" class="oci-Button oci-Button--primary">Save</button>
      <a ui-sref="app.event.index({ id: eventId })" class="oci-Button oci-Button--default">Cancel</a>
    </footer>
  </form>
</section>

<section class="oci-Panel oci-Panel--danger">
  <header class="oci-Panel-header">
    <h1 class="oci-Panel-title">Remove Event</h1>
  </header>
  <div class="oci-Panel-body">
    <p>Removing an event deletes all associated attendance records from participants.</p>
    <button class="oci-Button oci-Button--danger" ng-click="removeEvent()">Remove Event</button>
  </div>
</section>
