<form class="panel panel-default" ng-submit="updateProfile()">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Profile</h3>
  </div>
  <div class="panel-body">
    <div class="form-group form-inline">
      <div class="form-group">
        <label for="participantFirstNameInput">First Name</label>
        <input id="participantFirstNameInput" class="form-control" type="text" ng-model="model.firstName"/>
      </div>
      <div class="form-group">
        <label for="participantLastNameInput">Last Name</label>
        <input id="participantLastNameInput" class="form-control" type="text" ng-model="model.lastName"/>
      </div>
    </div>
    <div class="form-group">
      <label for="participantAliasInput">Hash Name</label>
      <input id="participantAliasInput" class="form-control" type="text" ng-model="model.alias" placeholder="{{model.suggestedAlias}}"/>
    </div>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </div>
</form>

<form class="panel panel-default" ng-submit="updateHistory()">
  <div class="panel-heading">
    <h3 class="panel-title">Edit History</h3>
  </div>
  <div class="panel-body">
    <div class="form-group form-inline">
      <div class="form-group">
        <label for="recordedAttendanceCountInput">Recorded number of attendances</label>
        <input id="recordedAttendanceCountInput" class="form-control" type="number" ng-model="model.recordedAttendanceCount"/>
      </div>
      <div class="form-group">
        <label for="recordedHostCountInput">Recorded number of hares</label>
        <input id="recordedHostCountInput" class="form-control" type="number" ng-model="model.recordedHostCount"/>
      </div>
    </div>
    <div class="form-group">
      <label for="recordedLastAttendanceDateInput">Last recorded attendance date</label>
      <div class="input-group">
        <input type="text" class="form-control" id="recordedLastAttendanceDateInput"
          ng-model="model.$recordedLastAttendanceDate"
          datepicker-popup="{{datepicker.format}}" is-open="opened"
          datepicker-options="datepicker.options"
          ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">Update History</button>
  </div>
</form>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Remove Participant</h3>
  </div>
  <div class="panel-body">
    <p>Removing an participant deletes all associated attendance records.</p>
    <button class="btn btn-danger" ng-click="remove()">Remove Participant</button>
  </div>
</div>
