<a class="btn btn-default" ui-sref="app.participant.edit({ id: participantId })">Edit Participant</a>

<hr/>

<p class="alert alert-info" ng-if="participant.location">
  Visitor from <strong>{{participant.location}}</strong>.
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="util-Margin--right"
        ng-pluralize
        count="attendanceRecord.attendanceCount"
        when="{
          '0': 'No Attendances',
          'one': '1 Attendance',
          'other': '{} Attendances'}"></span>
      <span
        ng-pluralize
        count="attendanceRecord.hostCount"
        when="{
          '0': '',
          'one': '1 Hare',
          'other': '{} Hares'}"></span>
    </h3>
  </div>
  <div class="oci-Panel-body">
    <ul class="oci-PanelList">
      <li class="oci-PanelList-item util-Grid util-Grid--center" ng-repeat="attendance in attendances | orderByPriority | orderBy:'-event.date'">
        <span class="util-Margin--right">{{attendance.event.date | date:'mediumDate'}}</span>
        <a class="util-Grid-cell" ui-sref="app.event.index({ id: attendance['.id:event'] })">
          {{attendance.event.name}}
        </a>
        <span class="label label-info" ng-if="attendance.host">HARE</span>
      </li>
    </ul>
  </div>
  <div class="alert alert-warning"
    ng-if="attendanceRecord.hasUnaccountedRecords">
    <span class="util--nowrap"
      ng-pluralize
      count="attendanceRecord.unaccountedAttendanceCount"
      when="{
        'one': '1 unaccounted attendance.',
        'other': '{} unaccounted attendances.'
      }"></span>
    <span class="util--nowrap"
      ng-pluralize
      count="attendanceRecord.unaccountedHostCount"
      when="{
        'one': '1 unaccounted attendance as a hare.',
        'other': '{} unaccounted attendances as a hare.'
      }"></span>
  </div>
</div>

<div class="panel panel-default" ng-if="participant.notes">
  <div class="panel-heading">
    <h3 class="panel-title">Notes</h3>
  </div>
  <div class="panel-body">
    <p>{{participant.notes}}</p>
  </div>
</div>
