<p class="alert alert-info" ng-if="participant.location">
  Visitor from <strong>{{participant.location}}</strong>.
</p>

<section class="oci-Panel">
  <header class="oci-Panel-header">
    <h1 class="oci-Panel-title">
      <span class="util-Margin--right"
        ng-pluralize
        count="attendanceRecord.attendanceCount"
        when="{
          '0': 'No Attendances',
          'one': '1 Attendance',
          'other': '{} Attendances'}"></span>
      <span
        ng-pluralize
        count="attendanceRecord.hostCount"
        when="{
          '0': '',
          'one': '1 Hare',
          'other': '{} Hares'}"></span>
    </h1>
  </header>
  <div class="oci-Panel-body oci-List">
    <a class="oci-List-item util-Grid util-Grid--center"
      ng-repeat="attendance in attendances | orderByPriority | orderBy:'-event.date'"
      ui-sref="app.event.index({ id: attendance['.id:event'] })">
      <div class="util-Grid-cell">
        <strong class="util--block">{{attendance.event.name}}</strong>
        <span>{{attendance.event.date | date:'mediumDate'}}</span>
      </div>
      <span class="label label-info" ng-if="attendance.host">HARE</span>
    </a>
  </div>
  <footer class="oci-Panel-footer oci-Panel-footer--warning"
    ng-if="attendanceRecord.hasUnaccountedRecords">
    <span class="util--nowrap"
      ng-pluralize
      count="attendanceRecord.unaccountedAttendanceCount"
      when="{
        'one': '1 unaccounted attendance.',
        'other': '{} unaccounted attendances.'
      }"></span>
    <span class="util--nowrap"
      ng-pluralize
      count="attendanceRecord.unaccountedHostCount"
      when="{
        'one': '1 unaccounted attendance as a hare.',
        'other': '{} unaccounted attendances as a hare.'
      }"></span>
  </footer>
</section>

<section class="oci-Panel" ng-if="participant.notes">
  <header class="oci-Panel-header">
    <h1 class="oci-Panel-title">Notes</h1>
  </header>
  <div class="oci-Panel-body">
    <p>{{participant.notes}}</p>
  </div>
</section>
