.oci-PageHeader {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
  padding: 0 0.5em;

  @media @xs {
    align-items: center;
    flex-direction: row;
    padding: 0 1em;
  }

  &-title {
    font-size: 1.6em;
    margin: 1.5rem 0 0;

    @media @xs {
      font-size: 2em;
      margin-top: 2rem;
    }
  }

  &-details {
    margin: 0.5em 0 1em;

    * + * {
      margin-left: 1em;
    }
  }

  &-actions {
    padding-bottom: 0.5em;

    @media @xs {
      padding: 0;
    }
  }
}
