.oci-PageHeader {
  background-color: @color-Content;
  border-bottom: 1px solid @color-Border;
  padding: 0.75em 0.5em 0;

  @media @xs {
    padding: 1.5em 1em 0.5em;
  }

  &-title {
    font-size: 1.6em;
    margin: 0;

    @media @xs {
      font-size: 2em;
    }
  }

  &-details {
    margin-top: 0.5em;

    > * {
      margin-right: 1em;
      white-space: nowrap;
    }
  }
}
