<h1><a ui-sref="app.event.index({ id: eventId })">{{event.name}}</a></h1>
<p>
  <a ui-sref="app.chapter({ id: event.chapter })">{{chapter.name}}</a>
  &bull;
  {{event.date | date:'longDate'}}
</p>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Hash Name</th>
    <th>Sign in</th>
    <th>Hashes after sign in</th>
    <th>Last Hash</th>
    <th>Hares</th>
  </thead>
  <tbody>
    <tr ng-repeat="participant in participants | filter:{ priority: filterPriority } | orderBy:order">
      <td>{{participant.lastName}}, {{participant.firstName}}</td>
      <td>
        <a ui-sref="app.participant.index({ id: participant.$id })">{{participant | hashName}}</a>
        <span ng-if="participant.location">({{participant.location}})</span>
      </td>
      <td>{{participant.attendance ? (participant.attendance.host ? 'HARE' : 'X') : ''}}</td>
      <td>{{participant.records.attendanceCount + 1}}</td>
      <td>
        <a ng-if="participant.records.date" ui-sref="app.event.index({ id: participant.records.event })">
          {{participant.records.date}}
        </a>
        <span ng-if="!participant.records.date">{{participant.recordedLastAttendanceDate}}</span>
      </td>
      <td>{{participant.records.hostCount + (participant.attendance.host ? 1 : 0)}}</td>
    </tr>
  </tbody>
</table>
