<section class="oci-Panel">
  <form ng-submit="submit()">
    <header class="oci-Panel-header">
      <h1 class="oci-Panel-title">New Participant for {{chapter.name}}</h1>
      <button type="button"
        class="oci-Button oci-Button--clear oci-Button--icon"
        data-dismiss="modal"
        aria-hidden="true"
        ng-click="cancel()">
        <icon-x/>
      </button>
    </header>
    <div class="oci-Panel-body">
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">First Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.firstName"/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Last Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.lastName"/>
      </label>
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Hash Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.alias" placeholder="{{model.suggestedAlias}}"/>
      </label>
    </div>
    <footer class="oci-Panel-footer">
      <button type="submit" class="oci-Button oci-Button--primary">Add Participant</button>
      <button type="button" class="oci-Button oci-Button--default" ng-click="cancel()">Cancel</button>
    </footer>
  </form>
</section>
