<section class="oci-Panel">
  <form ng-submit="submit()">
    <header class="oci-Panel-header">
      <h1 class="oci-Panel-title">New Event for {{chapter.name}}</h1>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
    </header>
    <div class="oci-Panel-body">
      <label class="oci-FormControl">
        <div class="oci-FormControl-label">Event Name</div>
        <input class="oci-FormControl-input" type="text" ng-model="model.name" placeholder="Event name" required/>
      </label>
      <div class="oci-FormControl">
        <label for="eventDateInput" class="oci-FormControl-label">Event Date</label>
        <datepicker id="eventDateInput" ng-model="model.date" show-weeks="false"></datepicker>
      </div>
    </div>
    <footer class="oci-Panel-footer">
      <button type="submit" class="oci-Button oci-Button--primary">Add Event</button>
      <button type="button" class="oci-Button oci-Button--default" ng-click="cancel()">Cancel</button>
    </footer>
  </form>
</section>
